PORT=5000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200
DASHBOARD_URL=http://localhost:3000
DATABASE_URL=postgresql://neondb_owner:postgres@127.0.0.1:5432/salhop-postgres
DATABASE_APP_USER_PASSWORD='a$$WoRd2.login'
REDIS_URL=redis://localhost:6379
DEBUG_ENABLED=true
DOMAIN_COOKIE=localhost
